<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel='stylesheet' href='/stylesheets/joinus.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/joinus.js"></script>
</head>
<body>

<div class="container">
    <div class="first_login_btn">joinUs</div>
</div>


<div class="modalWrap">
    <div class="modalContent">
        <div class="modalBody">
            <span class="closeBtn">&times;</span>
            <div class="first_modal_body">
                <div><div>아이디</div><input/></div>
                <div><div>닉네임</div><input/></div>
                <div><div>비밀번호</div><input/></div>
                <div><div>비밀번호 확인</div><input/></div>
                <div class="first_modal_submit_btn">다음으로</div>
            </div>
        </div>
    </div>
</div>

<div class="modalWrap_two">
    <div class="modalContent_two">
        <div class="modalBody_two">
            <span class="closeBtn_two">&times;</span>
            <div class="second_modal_body">
                <div class="second_nemo_logic">
                    <div class="second_nome_logic_row"> <div> </div> <div>2</div> <div>4</div> <div>4</div> <div>4</div> <div>2</div> </div>
                    <div class="second_nome_logic_row"> <div>1 1</div> <div> </div> <div> </div> <div> </div> <div> </div> <div> </div> </div>
                    <div class="second_nome_logic_row"> <div>5</div> <div> </div> <div> </div> <div> </div> <div> </div> <div> </div> </div>
                    <div class="second_nome_logic_row"> <div>5</div> <div> </div> <div> </div> <div> </div> <div> </div> <div> </div> </div>
                    <div class="second_nome_logic_row"> <div>3</div> <div> </div> <div> </div> <div> </div> <div> </div> <div> </div> </div>
                    <div class="second_nome_logic_row"> <div>1</div> <div> </div> <div> </div> <div> </div> <div> </div> <div> </div> </div>
                </div>

                <div class="second_modal_submit_btn">다음으로</div>
            </div>
        </div>
    </div>
</div>

<div class="modalWrap_three">
    <div class="modalContent_three">
        <div class="modalBody_three">
            <span class="closeBtn_three">&times;</span>
            <div class="third_modal_body">

                <div class="third_modal_quiz">
                    <div>Q.'물티슈'의 영어표기로 알맞은 것은?</div>
                    <div>1. water tissue</div>
                    <div>2. hand tissue</div>
                    <div>3. wet tissue</div>
                    <div>4. wash tissue</div>
                </div>

                <div class="third_modal_quiz">
                    <div>Q.'5천원권'지폐에 있는 과일은?</div>
                    <div>1. 복숭아</div>
                    <div>2. 배</div>
                    <div>3. 포도</div>
                    <div>4. 수박</div>
                </div>

                <div class="third_modal_submit_btn">다음으로</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
