<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/light.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="text/javascript" src="/javascripts/light.js"></script>
</head>
<body>
<div class="main">
    <div class="play_board">
        <div class="monit">
            <div id="screen" class="waiting">
                클릭하여 시작하세요.<br/><br/>

                ※ 70ms 안에 들어오면 성공입니다.
            </div>
        </div>
    </div>
</div>
</body>
</html>
