<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/login.js"></script>
</head>
<body>

<div class="container modal-open">
    <div class="first_login_btn">LogIn</div>

    <div class="first_login_modal">
        <div class="first_modal_header">
            <div> </div>
            <div>본인확인</div>
            <div class="first_login_close_btn">X</div>
        </div>
        <div class="first_modal_body">
            <div>
                <div class="input_area">
                    <div class="first_id">아이디</div>
                    <input/>
                </div>

                <div class="input_area">
                    <div class="first_name">닉네임</div>
                    <input/>
                </div>

                <div class="input_area">
                    <div class="first_password">비밀번호</div>
                    <input/>
                </div>

                <div class="input_area">
                    <div class="first_password_check">비밀번호 확인</div>
                    <input/>
                </div>
                <div class="first_value_submit_btn">
                    다음
                </div>
            </div>
        </div>

        <div class="second">
            <div class="second_modal_header">
                <div> </div>
                <div>본인확인</div>
                <div class="second_login_close_btn">X</div>
            </div>

            <div class="second_modal_body">

            </div>
        </div>
    </div>
</div>

</body>
</html>