<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/quiz.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="text/javascript" src="/javascripts/quiz.js"></script>
</head>
<body>
<div class="main">
    <div class="inven">
        <div class="inven_icon">
            <img src="/images/bag.png"/>
        </div>
        <div class="inven_detail">
            <div class="item_view">
                <div class="item_view_top">
                    <div class="item_img">
                        <img class="item_img_src" src=""/>
                    </div>
                    <div class="item_code">
                    </div>
                </div>
                <div class="item_view_bottom">

                </div>
                <div class="item_back_btn">
                    돌아가기
                </div>
            </div>

            <div class="item_line">
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
            </div>

            <div class="item_line">
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
            </div>

            <div class="item_line">
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
            </div>

            <div class="item_line">
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
            </div>

            <div class="item_line">
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
            </div>
        </div>
    </div>

    <div class="play_board">
        <div class="monit">
            <div class="main_monit">



            </div>
        </div>
        <div class="input_area">
            <input class="input_board"/>
            <div class="input_text">
                확인
            </div>
        </div>
    </div>
</div>
</body>
</html>
