body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .first_login_btn {
  margin: 60px;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 40px;
}

.first_login_btn {
  background: linear-gradient(to right, rgb(220, 227, 91), rgb(69, 182, 73));
  padding: 10px 25px;
  display: inline-block;
  border-radius: 25px;
  margin: 20px 0;
  color: #fff;
  position: relative;
  transition: all 0.4s ease;
}

.first_login_modal {
  background: #fff;
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  top: 100%;
  position: fixed;
  left: 0;
  text-align: left;
  border-radius: 20px 20px 0 0;
}
.first_login_modal .first_modal_header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  font: 300 24px Lato;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
}
.first_login_modal .first_modal_body {
  padding: 0 20px 20px 20px;
  font: 300 16px Lato;
}

.container.modal-open .first_login_modal {
  top: 10%;
}

.input_area {
  margin-bottom: 5vh;
}

.input_area > div {
  color: #303030;

  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.input_area > input {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #DDD;
  box-sizing: border-box;
  background: #FFF;
  padding: 0 10px;
}

.first_value_submit_btn {
  position: absolute;
  bottom: 10vh;
  width: 90%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 6px;
  background: #FF7D00;
}

.first_value_submit_btn:active {
  background-color: #C36000;
}

.first_value_submit_btn:disabled {
  background: #DDD;
  color: #BDBDBD;
}

.second {
  background-color: white;
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  top: 10%;
  position: fixed;
  left: 100%;
  text-align: left;
  border-radius: 20px 20px 0 0;
}

.second .second_modal_header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  font: 300 24px Lato;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
}

.second .second_modal_body {
  padding: 0 20px 20px 20px;
  font: 300 16px Lato;
}

.first_login_modal.second_open .second {
  left: 0;
}

.second_nemo_logic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second_nemo_logic > div {
  height: 13vw;
  display: flex;
}

.second_nemo_logic > div > div {
  width: 13vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 900;
}

.second_nemo_logic > div:not(:first-child) > div:not(:first-child) {
  border: 1px solid black;
  font-size: 3rem;
}

.second_value_submit_btn {
  position: absolute;
  bottom: 10vh;
  width: 90%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 6px;
  background: #FF7D00;
  outline: none;
}

.second_value_submit_btn:active {
  background-color: #C36000;
}

.second_value_submit_btn:disabled {
  background: #DDD;
  color: #BDBDBD;
}

/*========================*/
.third {
  background-color: white;
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  top: 10%;
  position: fixed;
  left: 100%;
  text-align: left;
  border-radius: 20px 20px 0 0;
}

.third .third_modal_header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  font: 300 24px Lato;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
}

.third .third_modal_body {
  padding: 0 20px 20px 20px;
  font: 300 16px Lato;
}

.first_login_modal.third_open .third {
  left: 0;
}

.third_question_header {
  display: flex;
  color: black;
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 3vh;
}

.third_question_header > div {
  font-weight: bold;
}

.third_question_answer {
  color: #5c5c5c;
  font-size: 1.2rem;
  margin-bottom: 1vh;
}

.third_question_header_two {
  display: flex;
  color: black;
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 3vh;
  margin-top: 5vh;
}

.third_question_header_two > div {
  font-weight: bold;
}

.third_question_answer_two {
  color: #5c5c5c;
  font-size: 1.2rem;
  margin-bottom: 1vh;
}

.third_value_submit_btn {
  position: absolute;
  bottom: 10vh;
  width: 90%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 6px;
  background: #FF7D00;
  outline: none;
}

.third_value_submit_btn:active {
  background-color: #C36000;
}

.third_value_submit_btn:disabled {
  background: #DDD;
  color: #BDBDBD;
}

.third_value_answer_select {
  background-color: #ff7d01;
  border-radius: 20px;
  color: white;
}

/*===========================*/

.fourth {
  background-color: white;
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  top: 10%;
  position: fixed;
  left: 100%;
  text-align: left;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_login_modal.fourth_open .fourth {
  left: 0;
}

.fin_data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fin_image {
  width: 30vw;
  height: 30vw;
}

.fin_text {
  font-size: 2rem;
}

.char, .word {
  display: inline-block;
}
.splitting .char {
  animation: slide-in 1s cubic-bezier(0.17, 0.84, 0.4, 1.49) both;
  animation-delay: calc(30ms * var(--char-index));
}
[data-word="♬"] .char {
  display: inline;
}

@keyframes slide-in {
  0% {
    transform: scale(2) rotate(60deg);
    opacity: 0;
  }
}
@keyframes bump-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
}
particule {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 4px #eb6383;
}

.process_area {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 8px;
}

.process_img {
  height: 72px;
}