<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel='stylesheet' href='/stylesheets/game/main.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="text/javascript" src="/javascripts/game/main.js"></script>
</head>
<body>
<div class="main">
    <div class="content">
        <div class="animation">
            <span class="two_text">
                두근두근<br/>
                송민엽의 대모험!
            </span>
        </div>
        <div class="box vibration first">
            시작
        </div>
        <div class="box vibration second">
            설명
        </div>
    </div>
</div>
</body>
</html>
