<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/game/upgrade.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="text/javascript" src="/javascripts/game/upgrade.js"></script>
</head>
<body>
<div class="main">
    <div class="talk">
        <div>
            <<+0 나무검>><br/><br/>

            <div class="title">
            성공확률: 100%<br/>
            실패확률: 0%
            </div>

            <br/>
            얼른 무기를 눌러<br/>
            강화를 하자
        </div>
    </div>

    <img src="../../images/sjfmf.png" class="sword"/>
<!--    <img src="../../images/aksskaus.png" class="sword"/>-->
<!--    <img src="../../images/snsanf.png" class="sword"/>-->
<!--    <img src="../../images/snsdlsoflaus.png" class="sword"/>-->
<!--    <img src="../../images/dndhkdkdkd.png" class="sword"/>-->

</div>
</body>
</html>
