body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    background-repeat: round;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../../images/run_main.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.a {
    width: 20vw;
    height: 20vh;
    position: absolute;
    bottom: 29vh;
    left: 0;
}

.left_btn {
    width: 20vw;
    height: 20vh;
    position: absolute;
    left: 10vw;
    bottom: 0;
}

.right_btn {
    width: 20vw;
    height: 20vh;
    position: absolute;
    right: 10vw;
    bottom: 0;
}

.animation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animation span{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.animation .two_text {
    display: inline-block;
    transform-origin: center;
    text-align: center;
    font-size: 2.3vw;
    margin-bottom: 32px;
    background: linear-gradient(to right top, #263aff, #ff0000);
    color: transparent;
    -webkit-background-clip: text;
    animation: animate 1.2s infinite;
    position: absolute;
    bottom: 2vh;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
